.entry {
  .divider {
    border-bottom: 1px solid $jet;
  }

  .row {
    background: none;
  }

  .thumb {
    @include thumb;
    max-height: 400px;
  }

  .clearing-featured-img {
    @media #{$small-only} {
      margin-left: 50%;
      transform: translateX(-50%);
    }
    @media #{$medium-only} {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .links {
    a {
      margin-right: 1rem;
      color: $secondary-color;
    }
  }
}
