.row.navigation {
  background-size: cover;
  height: 314px;
  margin-top: 20px;

  & > div {
    margin-top: 15px;
  }

  .panel {
    border: 0;
    background: rgba($jumbo, 0.7);
    padding: .15rem;
    padding-left: .8rem;
    margin-bottom: .15rem;
    transition: background 0.1s ease-in-out;
    color: $black;

    &.active, &:hover {
      background: $gainsboro;
      color: $jet;
    }

    a {
      color: $oil;
    }
  }
}

nav {
  margin-bottom: 1rem;

  .row {
    background: none;
  }
}
